body {
  background-color: black;
  color: white;
  text-align: center;
}

#header {
  font-size: 36px;
  padding: 20px;
}

#connect-container {
  padding: 20px;
}

#flip-container {
  padding: 20px;
}

#result {
  padding: 20px;
  font-size: 24px;
}
