body {
  background-color: black;
  color: white;
  text-align: center;
}

#header {
  font-size: 36px;
  padding: 20px;
}

#connect-container {
  padding: 20px;
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

#flip-container {
  padding: 20px;
  margin-top: 100px;
}

#result {
  padding: 20px;
  font-size: 24px;
}
