body {
  background-color: black;
}

#title {
  color: gold;
  text-align: center;
  margin-bottom: 20px;
}

#flipBtn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

#connectBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
